@tailwind base;
@tailwind components;
@tailwind utilities;

.nuxt-link-exact-active {
  @apply text-blue-500;
}

.phone svg {
  height: auto;
  width: 18px;
}
.blog-image {
  height: auto;
  width: 200px;
}

.author-image {
  filter: drop-shadow(3px 3px 3px black);
}